@font-face {
	font-family: 'fira';
	src:  url('FiraCode-Retina.ttf') format('ttf'),
	local('FiraCode-Retina');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'fira';
	src:  url('FiraCode-Light.ttf') format('ttf'),
	local('FiraCode-Light');
	font-style: normal;
	font-weight: lighter;

}

html, body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	box-sizing: border-box;
	background-color: #282c34;
  	color: #abb2bf;

}

*, *:before, *:after {
	font-family: 'fira';
	font-weight: lighter;
	box-sizing:inherit;
}

.window {
  animation: bounceIn 1s ease-in-out;
}

/* Container for entire buildable area */
.window-content {
	width: 100%;
	padding: 15px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}

/* Inherit the flexbox to window-content children. */
.window-content * {
	display: inherit;
	align-content: inherit;
	flex-wrap: inherit;
}

#all-link-tables {
	width: inherit;
}

dt  {
    font-size:12px;
    line-height:26px;
    width:70px;
}

dd {
    font-size:12px;
    line-height:18px;
}

.all-links {
	background: teal;
}

.link-group {
	background: gold;
}

a:before {
	content: '';
}

a {
	text-decoration: none;
}

td {
    padding: 1px;

  }

/*
**
	The shell prompt line
**
*/
.ls-command {
	width: 100%;
	padding-bottom: 7px;
}


.ls-command-bracket-open {
  	color: #d19a66;
	padding-right: 0.4em;
}

.ls-command-username {
	color: #c678dd;
}

.ls-command-at {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.ls-command-devicename {
  	color: #61afef;
}

.ls-command-bracket-close {
  	color: #d19a66;
	padding-left: 0.4em;
}

.ls-command-prompt {
  	color: #d19a66;
	padding-left: 0.3em;
}

.ls-command-ls {
   	color: #98c379;
	padding-left: 0.8em;
}

.ls-command-ls-switches {
   	color: #98c379;
	padding-left: 0.5em;
}

.ls-command-path {
	color: #d19a66;
	padding-left: 0.8em;
}

.ls-command-grouptitle {
  	color: #e5c07b;
	padding-left: 0.15em;
}

.cursor {
	color: white;
	width: 15px;
  	animation: blink 1.5s steps(1) infinite;
}

/*
**
	The first line returned after the ls command
**
*/
.ls-header {
	width:100%;
	padding-bottom: 7px;
}


/*
**
	The tables with links
**
*/
.ls-table {
	width: 100%;
	padding-bottom: 25px;
}

/* 
	The layout uses Flex boxes arranged left-to-right, top-to-bottom and wraps at the end of the line.
	By setting tr to 100% width, it guarantees a line wrap after each element in this table
*/
tr {
	width: 100%;
}


.row-permissions {
	color: #c678dd;
	text-align: left;
	width: 100px;
}

.row-links {
  	color: #56b6c2;
	text-align: left;
	width: 50px;
}

.row-user {
  	color: #d19a66;
	text-align: left;
	width: 50px;
}

.row-group {
  	color: #e06c75;
	text-align: left;
	width: 60px;
}

.row-filesize {
  	color: #56b6c2;
	text-align: right;
	width: 50px;
}

.row-date {
   	color: #98c379;
	text-align: left;
	width: 100px;
}

.row-name {
	text-align: left;
}

.ls-link {
  color: #d19a66;
}

@keyframes blink {
	50% {
		color: transparent;
	}
}

@keyframes bounceIn {
	0% {
		transform: translateY(-1000px);
		}

	60% {
		transform: translateY(200px);
		}

	100% {
		transform: translateY(0px);
		}
}
